* {
    font-family: sans-serif;
}

body {
    background-color: #222831;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97.5vh;
    z-index: 1;
}

.container::before,
.container::after {
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: rgb(131, 131, 131);
}

.container::before {
    left: 400px;
}

.container::after {
    right: 400px;
}

.container .title {
    text-align: center;
    text-shadow: 3px 3px 3px black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container .box {
    text-align: center;
    margin-bottom: 100px;
}

.container .box input {
    font-size: 20px;
    border-radius: 5px;
}

.container .box button {
    font-size: 20px;
    border-radius: 5px;
    transition-duration: 0.05s ease-in-out;
}

.container .box button:hover {
    cursor: pointer;
}

.container .box button:active {
    transform: scale(0.9);
}

.container .box button img {
    width: 16px;
    height: 16px;
}

.container .profile-info {
    height: auto;
    width: 40%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.container .profile-info .section-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    width: 35%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 2px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.container .profile-info .section-right {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 65%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding-left: 1%;
}

.container .profile-info .section-left h2 {
    font-size: 18px;
}

.container .profile-info .section-left img {
    width: 150px;
    height: auto;
}

.container .profile-info .section-left p {
    font-size: 16px;
}

.container .profile-info .error {
    color: red;
    font-size: 18px;
    padding-left: 10px;
}

.container footer p{
    color: rgb(236, 236, 236);
    text-shadow: 2px 2px 2px black;
}
